node_modules
.dendron.*
build
seeds
.next
pods/service-connections

# C++
*.exe
*.ilk
*.obj
*.pdb

# jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock

# node.js
node_modules
.temp
.cache
${APPDATA}